[submodule "dependencies/opencv"]
	path = dependencies/opencv
	url = https://github.com/opencv/opencv
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://github.com/libigl/eigen
